<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-155041893-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-155041893-1');
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="ISO-8859-1">
<title>Tattools - Lista de Usu&aacute;rios</title>
</head>
<body>
<div class="container" align="center">
<br><br>
<h5>Lista de Usu&aacute;rios</h5>
<br><br>
<a href="usuarios" class="waves-effect waves-light btn-small"><i class="material-icons left">arrow_back</i>Voltar</a>
<a href="index" class="waves-effect waves-light btn-small"><i class="material-icons left">home</i>Home</a>
<a href="cadastrarUsuario" class="waves-effect waves-light btn-small"><i class="material-icons left">add_circle_outline</i>Cadastrar Usu&aacute;rio</a>
<p>
<table class="container">
<thead>
<tr>
<th>C&oacute;digo</th>
<th>Nome</th>
<th>Login</th>
<th>E-mail</th>	
</tr>
</thead>
<tbody>
<tr th:each="usuario : ${listarUsuarios}">
<td><span th:text="${usuario.usuarioId}"></span></td>
<td><a th:href="${(#mvc.url('UC#detalhesUsuario').arg(0, usuario.usuarioId)).build()}"><span th:text="${usuario.nome}"></span></a></td>
<td><span th:text="${usuario.login}"></span></td>
<td><span th:text="${usuario.email}"></span></td>
</tr>
</tbody>
</table>
</div>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</html>