<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-155041893-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-155041893-1');
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<footer class="footer-copyright">
<div align="center" class="container">
<div class="container" align="right">
</div>
<br>
<p style="font-size:13px">&copy; 2020 Powered By <a href="mailto:guizaramellaf91@gmail.com"><strong>Guilherme Zaramella</strong></a></p>
</div>
</footer>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
$(document).ready(function(){
	$('.dropdown-trigger').dropdown();
});
</script>
</body>
</html>